[submodule "playground/Widgets/CKEditor"]
	path = playground/Widgets/CKEditor
	url = https://stefaneugster@github.com/stefaneugster/CKEditor.git
[submodule "playground/Widgets/JQDateTime"]
	path = playground/Widgets/JQDateTime
	url = https://stefaneugster@github.com/stefaneugster/JQDateTime.git
[submodule "playground/Widgets/waDropzone"]
	path = playground/Widgets/waDropzone
	url = https://stefaneugster@github.com/stefaneugster/waDropzone.git
[submodule "playground/Themes/flatui"]
	path = playground/Themes/flatui
	url = https://stefaneugster@github.com/stefaneugster/flatui.git
[submodule "playground/HttpRequestHandler"]
	path = playground/HttpRequestHandler
	url = https://github.com/stefaneugster/wak-httpRequestHandler.git
